body {
   font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Roboto Mono", monospace;
}
.search-input::placeholder {
   color: white;
   opacity: 1; /* Firefox */
}
.footer-link:hover {
   color: white;
   opacity: 0.75;
   margin: 30px 0;
}
.nav-link {
   color: white;
}
.activeA,
nav .active {
   background-color: aliceblue !important;
   text-decoration: none;
   padding: 8px 20px;
   font-weight: 500;
   color: black !important;
   border-radius: 8px;
}
.inactiveA {
   text-decoration: none;
   color: white;
   font-weight: 600;
}
.navbar-nav .show {
   background-color: aliceblue !important;
   color: black !important;
   border-radius: 8px;
}
.dropdown .nav-link {
   color: black !important;
}
.dropdown-menu .nav-link {
   background-color: aliceblue !important;
}

.activeA:hover {
   color: black;
   opacity: 0.95;
}

.inactiveA:hover {
   color: white;
   opacity: 0.75;
}

.LazyLoad {
   opacity: 1;
   transition: all 3s ease-in-out;
}

.info1-food {
   background-color: rgb(255, 241, 243);
}
.info2-food {
   background-color: rgba(247, 247, 247, 0.815);
}
.info3-food {
   background-color: rgba(255, 248, 151, 0.815);
}
.info4-food {
   background-color: rgba(144, 238, 255, 0.815);
}
.info-food:hover {
   background-color: pink;
}

@media screen and (max-width: 600px) {
   .carousel-text {
      display: none;
   }
   .carousel-title {
      font-size: 30px !important;
   }
   .carousel-btn {
      padding: 6px 16px !important;
      margin: 0 auto !important;
      background-color: #f1c40f;
   }
   .carousel-caption {
      margin-bottom: 0;
      left: 0%;
      right: 0%;
      padding: auto 10px;
      bottom: 5px !important;
   }
   .banner-carousel {
      height: 50%;
      background-color: #dc3545;
   }
   .carousel-item {
      height: 60vh;
   }
   .review-user {
      display: none;
   }
   .home-dropdown {
      left: 75px;
      top: 0px;
   }
   .about-img {
      width: 100% !important;
   }
}
